In [1]:
#importing necessary libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
#reading url
url="https://www.iplt20.com/auction"
r=requests.get(url)
r

In [3]:
#to make the http data to string
soup=BeautifulSoup(r.text,"lxml")

In [4]:
#reading the table
Table=soup.find("table",class_="ih-td-tab auction-tbl")
print(Table.text)

TEAM
FUNDS REMAINING
OVERSEAS PLAYERS
TOTAL PLAYERS









Chennai Super Kings


₹1,00,00,000
8
25







Delhi Capitals


₹9,90,00,000
8
25







Gujarat Titans


₹7,85,00,000
8
25







Kolkata Knight Riders


₹1,35,00,000
8
23







Lucknow Super Giants


₹95,00,000
8
25







Mumbai Indians


₹1,05,00,000
8
25







Punjab Kings


₹4,15,00,000
8
25







Rajasthan Royals


₹20,00,000
8
22







Royal Challengers Bangalore


₹2,85,00,000
8
25







Sunrisers Hyderabad


₹3,20,00,000
8
25

In [5]:
#reading headers of the table
headers=Table.find_all("th")
print(headers)

[<th class="skip-filter" style="width:25%;text-align: left;">TEAM</th>, <th class="skip-filter" style="width:25%;">FUNDS REMAINING</th>, <th class="skip-filter" style="width:25%;">OVERSEAS PLAYERS </th>, <th class="skip-filter" style="width:25%;">TOTAL PLAYERS</th>]

In [6]:
#creating a list of headers
titles=[]
for i in headers:
    tit=i.text
    titles.append(tit)
print(titles)

['TEAM', 'FUNDS REMAINING', 'OVERSEAS PLAYERS ', 'TOTAL PLAYERS']

In [7]:
#creating dataframe for the table
df=pd.DataFrame(columns=titles)
df

Empty DataFrame
Columns: [TEAM, FUNDS REMAINING, OVERSEAS PLAYERS , TOTAL PLAYERS]
Index: []

In [8]:
# reading row values
rows=Table.find_all("tr")
print(rows)

[<tr class="ih-pt-tbl" style="display:revert">
<th class="skip-filter" style="width:25%;text-align: left;">TEAM</th>
<th class="skip-filter" style="width:25%;">FUNDS REMAINING</th>
<th class="skip-filter" style="width:25%;">OVERSEAS PLAYERS </th>
<th class="skip-filter" style="width:25%;">TOTAL PLAYERS</th>
</tr>, <tr>
<td class="ih-t-color">
<div class="ih-pt-ic">
<div class="ih-pt-img" style="width: 60px">
<img alt="" src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1702465555_CSKroundbig.png"/>
</div>
<h2 class="ih-pt-cont">Chennai Super Kings</h2>
</div>
</td>
<td>₹1,00,00,000</td>
<td>8</td>
<td>25</td>
</tr>, <tr>
<td class="ih-t-color">
<div class="ih-pt-ic">
<div class="ih-pt-img" style="width: 60px">
<img alt="" src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1702465727_DCroundbig.png"/>
</div>
<h2 class="ih-pt-cont">Delhi Capitals</h2>
</div>
</td>
<td>₹9,90,00,000</td>
<td>8</td>
<td>25</td>
</tr>, <tr>
<td class="ih-t-color">
<div class="ih-pt-ic">
<div class="ih-pt-img" style="width: 60px">
<img alt="" src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1702465836_GTroundbig.png"/>
</div>
<h2 class="ih-pt-cont">Gujarat Titans</h2>
</div>
</td>
<td>₹7,85,00,000</td>
<td>8</td>
<td>25</td>
</tr>, <tr>
<td class="ih-t-color">
<div class="ih-pt-ic">
<div class="ih-pt-img" style="width: 60px">
<img alt="" src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1702465948_KKRroundbig.png"/>
</div>
<h2 class="ih-pt-cont">Kolkata Knight Riders</h2>
</div>
</td>
<td>₹1,35,00,000</td>
<td>8</td>
<td>23</td>
</tr>, <tr>
<td class="ih-t-color">
<div class="ih-pt-ic">
<div class="ih-pt-img" style="width: 60px">
<img alt="" src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1702466030_LSGroundbig.png"/>
</div>
<h2 class="ih-pt-cont">Lucknow Super Giants</h2>
</div>
</td>
<td>₹95,00,000</td>
<td>8</td>
<td>25</td>
</tr>, <tr>
<td class="ih-t-color">
<div class="ih-pt-ic">
<div class="ih-pt-img" style="width: 60px">
<img alt="" src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1702466090_MIroundbig.png"/>
</div>
<h2 class="ih-pt-cont">Mumbai Indians</h2>
</div>
</td>
<td>₹1,05,00,000</td>
<td>8</td>
<td>25</td>
</tr>, <tr>
<td class="ih-t-color">
<div class="ih-pt-ic">
<div class="ih-pt-img" style="width: 60px">
<img alt="" src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1702466143_PBKSroundbig.png"/>
</div>
<h2 class="ih-pt-cont">Punjab Kings</h2>
</div>
</td>
<td>₹4,15,00,000</td>
<td>8</td>
<td>25</td>
</tr>, <tr>
<td class="ih-t-color">
<div class="ih-pt-ic">
<div class="ih-pt-img" style="width: 60px">
<img alt="" src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1702466295_RRroundbig.png"/>
</div>
<h2 class="ih-pt-cont">Rajasthan Royals</h2>
</div>
</td>
<td>₹20,00,000</td>
<td>8</td>
<td>22</td>
</tr>, <tr>
<td class="ih-t-color">
<div class="ih-pt-ic">
<div class="ih-pt-img" style="width: 60px">
<img alt="" src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1702466217_RCBroundbig.png"/>
</div>
<h2 class="ih-pt-cont">Royal Challengers Bangalore</h2>
</div>
</td>
<td>₹2,85,00,000</td>
<td>8</td>
<td>25</td>
</tr>, <tr>
<td class="ih-t-color">
<div class="ih-pt-ic">
<div class="ih-pt-img" style="width: 60px">
<img alt="" src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1702466366_SRHroundbig.png"/>
</div>
<h2 class="ih-pt-cont">Sunrisers Hyderabad</h2>
</div>
</td>
<td>₹3,20,00,000</td>
<td>8</td>
<td>25</td>
</tr>]

In [9]:
#inserting row values into the data frame
for i in rows[1:]:
    first_td = i.find_all("td")[0].find("div",class_="ih-pt-ic").text.strip()
    data=i.find_all("td")[1:]
    row=[tr.text for tr in data]
    row.insert(0,first_td)
    l=len(df)
    df.loc[l]=row
    print(df)

                  TEAM FUNDS REMAINING OVERSEAS PLAYERS  TOTAL PLAYERS
0  Chennai Super Kings    ₹1,00,00,000                 8            25
                  TEAM FUNDS REMAINING OVERSEAS PLAYERS  TOTAL PLAYERS
0  Chennai Super Kings    ₹1,00,00,000                 8            25
1       Delhi Capitals    ₹9,90,00,000                 8            25
                  TEAM FUNDS REMAINING OVERSEAS PLAYERS  TOTAL PLAYERS
0  Chennai Super Kings    ₹1,00,00,000                 8            25
1       Delhi Capitals    ₹9,90,00,000                 8            25
2       Gujarat Titans    ₹7,85,00,000                 8            25
                    TEAM FUNDS REMAINING OVERSEAS PLAYERS  TOTAL PLAYERS
0    Chennai Super Kings    ₹1,00,00,000                 8            25
1         Delhi Capitals    ₹9,90,00,000                 8            25
2         Gujarat Titans    ₹7,85,00,000                 8            25
3  Kolkata Knight Riders    ₹1,35,00,000                 8            23
                    TEAM FUNDS REMAINING OVERSEAS PLAYERS  TOTAL PLAYERS
0    Chennai Super Kings    ₹1,00,00,000                 8            25
1         Delhi Capitals    ₹9,90,00,000                 8            25
2         Gujarat Titans    ₹7,85,00,000                 8            25
3  Kolkata Knight Riders    ₹1,35,00,000                 8            23
4   Lucknow Super Giants      ₹95,00,000                 8            25
                    TEAM FUNDS REMAINING OVERSEAS PLAYERS  TOTAL PLAYERS
0    Chennai Super Kings    ₹1,00,00,000                 8            25
1         Delhi Capitals    ₹9,90,00,000                 8            25
2         Gujarat Titans    ₹7,85,00,000                 8            25
3  Kolkata Knight Riders    ₹1,35,00,000                 8            23
4   Lucknow Super Giants      ₹95,00,000                 8            25
5         Mumbai Indians    ₹1,05,00,000                 8            25
                    TEAM FUNDS REMAINING OVERSEAS PLAYERS  TOTAL PLAYERS
0    Chennai Super Kings    ₹1,00,00,000                 8            25
1         Delhi Capitals    ₹9,90,00,000                 8            25
2         Gujarat Titans    ₹7,85,00,000                 8            25
3  Kolkata Knight Riders    ₹1,35,00,000                 8            23
4   Lucknow Super Giants      ₹95,00,000                 8            25
5         Mumbai Indians    ₹1,05,00,000                 8            25
6           Punjab Kings    ₹4,15,00,000                 8            25
                    TEAM FUNDS REMAINING OVERSEAS PLAYERS  TOTAL PLAYERS
0    Chennai Super Kings    ₹1,00,00,000                 8            25
1         Delhi Capitals    ₹9,90,00,000                 8            25
2         Gujarat Titans    ₹7,85,00,000                 8            25
3  Kolkata Knight Riders    ₹1,35,00,000                 8            23
4   Lucknow Super Giants      ₹95,00,000                 8            25
5         Mumbai Indians    ₹1,05,00,000                 8            25
6           Punjab Kings    ₹4,15,00,000                 8            25
7       Rajasthan Royals      ₹20,00,000                 8            22
                          TEAM FUNDS REMAINING OVERSEAS PLAYERS  TOTAL PLAYERS
0          Chennai Super Kings    ₹1,00,00,000                 8            25
1               Delhi Capitals    ₹9,90,00,000                 8            25
2               Gujarat Titans    ₹7,85,00,000                 8            25
3        Kolkata Knight Riders    ₹1,35,00,000                 8            23
4         Lucknow Super Giants      ₹95,00,000                 8            25
5               Mumbai Indians    ₹1,05,00,000                 8            25
6                 Punjab Kings    ₹4,15,00,000                 8            25
7             Rajasthan Royals      ₹20,00,000                 8            22
8  Royal Challengers Bangalore    ₹2,85,00,000                 8            25
                          TEAM FUNDS REMAINING OVERSEAS PLAYERS  TOTAL PLAYERS
0          Chennai Super Kings    ₹1,00,00,000                 8            25
1               Delhi Capitals    ₹9,90,00,000                 8            25
2               Gujarat Titans    ₹7,85,00,000                 8            25
3        Kolkata Knight Riders    ₹1,35,00,000                 8            23
4         Lucknow Super Giants      ₹95,00,000                 8            25
5               Mumbai Indians    ₹1,05,00,000                 8            25
6                 Punjab Kings    ₹4,15,00,000                 8            25
7             Rajasthan Royals      ₹20,00,000                 8            22
8  Royal Challengers Bangalore    ₹2,85,00,000                 8            25
9          Sunrisers Hyderabad    ₹3,20,00,000                 8            25

In [10]:
#creating csv file using dataframe data
df.to_csv("ipl_auction_2024.csv")
df

                          TEAM FUNDS REMAINING OVERSEAS PLAYERS  TOTAL PLAYERS
0          Chennai Super Kings    ₹1,00,00,000                 8            25
1               Delhi Capitals    ₹9,90,00,000                 8            25
2               Gujarat Titans    ₹7,85,00,000                 8            25
3        Kolkata Knight Riders    ₹1,35,00,000                 8            23
4         Lucknow Super Giants      ₹95,00,000                 8            25
5               Mumbai Indians    ₹1,05,00,000                 8            25
6                 Punjab Kings    ₹4,15,00,000                 8            25
7             Rajasthan Royals      ₹20,00,000                 8            22
8  Royal Challengers Bangalore    ₹2,85,00,000                 8            25
9          Sunrisers Hyderabad    ₹3,20,00,000                 8            25